@import "~react-image-gallery/styles/css/image-gallery.css";

.products-detail__row {
  display: flex;
}

.products-detail {
  padding-top: 3rem;
  text-align: left;
}

.products-detail__left,
.products-detail__right {
  max-width: 50%;
  width: 100%;
}

.products-detail__right {
  padding: 0 1rem;
}

.tag .sale {
  color: #fff;
  background-color: #77847a;
  margin-right: 5px;
  padding: 0 5px;
}

.tag .ready {
  padding: 0 5px;
  border: 1px solid rgb(189, 143, 101);
}

.products-detail .title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
}

.products-detail .review {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.review .left {
  display: flex;
  align-items: center;
}

.products-detail__price--new {
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 5px;
}

.products-detail__price--old {
  text-decoration: line-through;
  font-size: 1rem;
  margin-right: 5px;
  font-weight: 700;
  color: #a3a3a3;
}

.discount {
  font-weight: normal;
  color: red;
  border: 1px solid red;
  font-size: 0.75rem;
  padding: 0 3px;
}

.products-detail__price {
  margin-bottom: 1.75rem;
}

.btn-add-to-cart,
.btn-buy-now {
  width: calc(50% - 0.5rem);
}

.btn-add-to-cart {
  margin-right: 0.5rem;
}

.btn-buy-now {
  margin-left: 0.5rem;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #c0ada0;
}

.ant-tabs-ink-bar {
  background-color: #c0ada0;
}

.ant-tabs-tab:hover {
  color: #c0ada0;
}
