.product-list__img {
  height: 300px;
  overflow: hidden;
}

.product-list__img img {
  transition: 0.3s;
}

.product-list__img:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

.product-list__info {
  padding: 0.5rem;
  padding-bottom: 2rem;
}

.product-list__name {
  margin-bottom: 0.25rem;
  min-height: 42px;
}

.product-list__name a {
  text-decoration: none;
}

.product-list__price--new {
  font-weight: 700;
}

.product-list__price--old {
  text-decoration: line-through;
}

.products-list__article {
  margin: 0 0.5rem;
  border: 1px solid #e9e4dd;
  position: relative;
  height: calc(100% - 2px);
  text-align: left;
}

.products-list [class*="col"] {
  padding-bottom: 1rem;
}

.product-list__price {
  margin-bottom: 1rem;
}

.product-list__rating {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  margin: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
}